<!-- Nav-Bar -->
<div class="toolbar" role="banner">
  <label routerLink="" class="exercise-title">Web Project Describing a Car</label>
  
  <!-- Center Header to Display Page Title -->
  <ng-template #centerHeader></ng-template>
  
  <a class="linkedin-link" href="https://www.linkedin.com/in/chris-mcafee/" target="_blank" title="Chris McAfee LinkedIn">
    <img class="linkedin-logo" src="../assets/images/linkedin-logo-white-1024x1024.png" alt="Chris McAfee LinkedIn">
  </a>
</div>

<router-outlet></router-outlet>
